# {{ ansible_managed }}
ETCD_NAME="{{ inventory_hostname }}"
ETCD_INITIAL_CLUSTER="{% for host in groups[etcd_cluster_group] %}{{ host }}={{ etcd_access_method }}://{{ hostvars[host]['_etcd_address'] }}:{{ etcd_peer_port }}{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_initial_cluster_token }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{ etcd_access_method }}://{{ _etcd_address }}:{{ etcd_peer_port }}"
ETCD_LISTEN_PEER_URLS="{{ etcd_access_method }}://{{ _etcd_address }}:{{ etcd_peer_port }}"
ETCD_LISTEN_CLIENT_URLS="{{ etcd_access_method }}://127.0.0.1:{{ etcd_client_port }}{% if _etcd_address != '127.0.0.1' %},{{ etcd_access_method }}://{{ _etcd_address }}:{{ etcd_client_port }}{% endif %}"
ETCD_ADVERTISE_CLIENT_URLS="{{ etcd_access_method }}://{{ _etcd_address }}:{{ etcd_client_port }}"
